PORT=3000
DATABASE_URL=postgresql://username:URL_ENCODED_PASSWORD@host:6543/postgres
CACHE_TTL_SECONDS=300
DB_SSL=true
MIGRATION_CONCURRENCY=3
BUYER_ALLOCATION_DISTRIBUTION_TOPIC=projects/maachwala/topics/BUYER_ALLOCATION_DISTRIBUTION
